/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #fafafa;
}

body,
html {
  background-color: #0d0d0d;
  scroll-padding-top: 90px;
}

main {
  margin: 0;
}

/* Clases de ayuda */

.logo-lg {
  font-size: 2rem;
}

.margin-md {
  margin-bottom: 1.5rem;
}

/* Estilios Header */

.header-barra {
  display: flex;
  justify-content: space-between;
  padding: 0px 15%;
  background-color: #0a0c0e;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-barra .logo {
  width: 80px;
  height: 80px;
}

.nav-bars ul {
  display: flex;
}

.nav-bars li {
  list-style: none;
  display: block;
  margin: 20px 20px;
}

.nav-bars a {
  text-decoration: none;
  color: #fafafa;
}

#offcanvasDarkNavbar {
  background-color: #0a0a0a96;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Estilos Presentacion */

.presentacion {
  background-image: url("../img/wallhaven-yq769k_1920x1080.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  height: calc(100vh);
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.titulo-presentacion {
  color: #fafafa;
  margin-top: -10%;
  margin-bottom: 2%;
}

.texto-presentacion {
  color: #fafafa;
  width: 50vw;
}

.lista-resumen {
  color: #fafafa;
  list-style: none;
  display: flex;
  margin-top: 5%;
}

.item-resumen {
  margin-left: 30px;
  margin-right: 30px;
  border: rgba(0, 0, 0, 0) 1px solid;
  border-radius: 15px;
  padding: 10px;
  background-color: #262626;
}

/* Estilos informacion laboral */

.experiencia-laboral {
  display: flex;

  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.intro-experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 4rem;
  width: 100%;
}

.descripcion-experiencia {
  width: 50vw;
  display: inline-block;
}

.contenedor-info-profesional {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  justify-items: center;
}

.trabajos-previos {
  width: 80%;
  padding-left: 0%;
  min-height: 0;
}

.resumen-trabajos {
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
  max-height: 700px;
}

.resumen-trabajos li {
  display: block;
  background-color: #0a0a0a;
  width: 100%;
  border: 1px solid #262626;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.contenedor-trabajo,
.contenedor-estudio {
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 30px;
  width: 100%;
  padding-top: 15px;
}

.proyecto-img {
  width: 100%;
  border-radius: 20px;
}

.descripcion-proyecto p {
  font-weight: 600;
  font-size: 1.5rem;
}

.ir-sitio a,
.ir-sitio i {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.contenedor-estudio {
  width: 90%;
  border: 1px solid #262626;
  border-radius: 15px;
  padding: 20px;
}

.contenedor-trabajo h2,
.contenedor-estudio h2 {
  margin-bottom: 0;
}

.empresa-tiempo,
.escuela-tiempo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 1;
}

.empresa-tiempo span,
.escuela-tiempo span {
  color: gray;
}

.descripcion-labores {
  min-height: 0;
}

.fecha {
  display: flex;
  justify-content: flex-start;
  padding-right: 20px;
}

.fecha i {
  font-size: 1.2rem;
}

.fecha p {
  margin-left: 5px;
  align-self: center;
  margin-bottom: 0;
}

.ubicacion {
  align-self: self-end;
  display: flex;
  gap: 15px;
}

.educacion {
  justify-self: start;
}

.educacion i {
  display: block;
}

.lenguajes ul,
.consolas ul,
.motos ul {
  display: flex;
  padding-left: 0;
}

.lista-lenguajes,
.lista-consolas,
.lista-moto {
  list-style: none;
  margin-top: 5%;
  margin-bottom: 10%;
  flex-wrap: wrap;
  gap: 20px;
}

.nombre-lenguaje,
.nombre-consola,
.nombre-moto {
  margin-right: 20px;
  border: 1px solid #262626;
  border-radius: 20px;
  padding: 10px;
  font-size: 0.9rem;
}

.descarga-cv {
  margin-top: 50px;
  width: 90%;
  display: flex;
  text-decoration: none;
}

.descarga-cv button {
  flex-basis: 100%;
}

.proyectos-cualidades {
  margin-top: 2rem;
  width: 100vw;
  grid-column: span 2;
}

.lista-cualidades {
  display: grid;
  list-style: none;
  padding-left: 0;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.item-cualidades {
  background-color: #0a0a0a;
  border: 1px solid #262626;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.item-cualidades h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-self: center;
}

/* Gaming */

.gaming-contenedor {
  width: 80%;
  justify-self: center;
  margin-left: 10%;
}

.gaming {
  background-color: #0a0a0a;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: rem;
  width: 100%;
}

.gaming-descripcion i {
  display: inline-block;
  margin-bottom: 2rem;
}

.gaming-image {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.gaming-image .img-element {
  width: 80%;
  border-radius: 20px;
}

/* motociclismo */
.moto-contenedor {
  width: 80%;
  justify-self: center;
  margin-left: 5%;
  margin-right: 20%;
}

.motociclismo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 8rem;
  width: 100%;
}

.moto-descripcion {
  display: flex;
  flex-direction: column;
  align-content: end;
  height: 100%;
  gap: 10%;
}

.moto-descripcion i {
  display: inline-block;
  margin-bottom: 2rem;
  align-self: end;
}

.moto-image {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.moto-image .img-element {
  width: 60%;
  border-radius: 20px;
}

/* Contacto */

.contacto {
  display: flex;
  flex-direction: column;
  background-color: #0a0a0a;
  align-items: center;
  padding-top: 5rem;
}

.lista-contacto {
  list-style: none;
  display: flex;
}

.lista-contacto a {
  text-decoration: none;
}

.contacto-item {
  margin-left: 3rem;
  border: 1px solid #262626;
  padding: 10px;
  border-radius: 15px;
}

/* Footer */
.pie-de-pagina {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #262626;
}

/* media querys telfono y trablet */

@media screen and (max-width: 990px) {
  /* header */

  /* Seccion de presentacion */

  .presentacion {
    width: 100%;
    margin-top: 110px;
  }

  .titulo-presentacion {
    margin-top: 0px;
    text-align: center;
  }

  .texto-presentacion {
    margin-top: 5%;
    width: 90%;
    padding: 0px 10px 0px 10px;
  }

  .lista-resumen {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
  }

  .lista-resumen:last-child {
    flex-basis: 100%;
  }

  /* info profesional */

  .descripcion-experiencia {
    margin-top: 5%;
    width: 100%;
    padding: 0px 10px 0px 10px;
  }

  .contenedor-info-profesional {
    display: flex;
    flex-direction: column;
  }

  .trabajos-previos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  .proyecto-img {
    width: 90%;
    border-radius: 20px;
  }
  .resumen-trabajos {
    overflow-y: visible;
    max-height: 100%;
  }

  .resumen-trabajos li {
    width: 100vw;
  }

  .contenedor-estudio {
    width: 100%;
    align-self: center;
  }

  .lenguajes {
    padding-left: 5%;
  }

  .lista-lenguajes {
    flex-wrap: wrap;
    gap: 10px;
  }

  .educacion {
    width: 100%;
  }

  .educacion i {
    justify-self: center;
  }

  .descarga-cv {
    justify-self: center;
  }

  .descarga-cv button {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  .lista-cualidades {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }

  .item-cualidades {
    width: 90vw;
    align-self: center;
  }

  /* gaming */

  .gaming {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }

  .gaming-descripcion {
    display: flex;
    flex-direction: column;
  }

  .gaming i {
    align-self: center;
  }

  .lista-consolas {
    flex-wrap: wrap;
  }

  /* Motociclismo */
  .motociclismo {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 3rem;
  }

  .moto-contenedor {
    width: 90%;
  }

  .moto-descripcion {
    display: flex;
    flex-direction: column;
  }

  .moto-descripcion i {
    align-self: center;
  }

  .lista-moto {
    flex-wrap: wrap;
  }

  /* Contacto */
  .contacto {
    text-align: center;
  }

  .lista-contacto {
    padding: 0;
    gap: 15px;
  }

  .lista-contacto li {
    margin: 0;
  }

  footer {
    padding: 20px;
    text-align: center;
  }
}
